<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Telefone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='phone.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="aviso-responsabilidade">
      ⚠️ Atenção: A responsabilidade pelo uso dos dados é inteiramente do usuário.  
      As informações podem ser inconsistentes ou desatualizadas.
    </div>

    <div class="container">
        <h2>🔍 Buscar Dono do Número</h2>
        <input id="telefone" type="text" placeholder="00 00000-0000" />
        <button onclick="buscar()">Buscar</button>
        <div id="resultado"></div>
    </div>

    <footer class="footer-criador">
      Criado por Peterson © 2025
    </footer>
    
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
